<%%= turbo_frame_tag dom_id(@<%= singular_table_name %>, :<%= @field %>) do %>
  <div
    class="resource-field in-place-form in-place-radio"
    data-controller="in-place"
    data-in-place-cancel-url-value="<%%= <%= singular_table_name %>_path(@<%= singular_table_name %>) %>"
  >
    <strong class="resource-label"><%= @field.humanize %>:</strong>

    <%%= form_with model: @<%= singular_table_name %> do |form| %>

      <%%= hidden_field_tag :in_place_field, "<%= @field %>" %>

      <%% if @<%= singular_table_name %>.errors[:<%= @field %>].any? %>
        <div class="in-place-error">
          <%%= @<%= singular_table_name %>.errors.full_messages_for(:<%= @field %>).to_sentence %>
        </div>
      <%% end %>

      <div class="in-place-radio__options">
        <%% <%= radio_configuration[:values].inspect %>.each do |choice| %>
          <label class="in-place-radio__option">
            <%%= form.radio_button :<%= @field %>,
                  choice[:value],
                  data: { action: "change->in-place#save" } %>

            <span><%%= choice[:label] %></span>
          </label>
        <%% end %>
      </div>
    <%% end %>
  </div>
<%% end %>
