<%%= turbo_frame_tag dom_id(@<%= singular_table_name %>, :<%= @field %>) do %>
  <div
    data-controller="in-place"
    data-in-place-cancel-url-value="<%%= <%= singular_table_name %>_path(@<%= singular_table_name %>) %>"
  >
    <%%= form_with model: @<%= singular_table_name %>, class: "form" do |form| %>
      <%%= hidden_field_tag :in_place_field, "<%= @field %>" %>

      <%% if @<%= singular_table_name %>.errors[:<%= @field %>].any? %>
        <div class="in-place-error">
          <%%= @<%= singular_table_name %>.errors.full_messages_for(:<%= @field %>).to_sentence %>
        </div>
      <%% end %>

      <div class="form-field">
        <%%= form.text_field :<%= @field %>,
              class: "form-input",
              placeholder: " " %>

        <%%= form.label :<%= @field %>,
              class: "form-label" %>
      </div>
    <%% end %>
  </div>
<%% end %>
