<div id="<%= plural_table_name %>" class="b4um-grid">
  <%% <%= plural_table_name %>.each_with_index do |<%= singular_table_name %>, index| %>
    <%% card_class, preview_length =
        case index % 5
        when 0
          ["b4um-card b4um-card--wide", 240]
        when 1
          ["b4um-card b4um-card--soft", 160]
        when 3
          ["b4um-card b4um-card--large", 480]
        else
          ["b4um-card", 160]
        end
      %>

    <article class="<%%= card_class %>">
      <%%= render <%= singular_table_name %>,
            compact: true,
            preview_length: preview_length %>

      <div class="b4um-card__actions">
        <%%= link_to "Show",
                    <%= singular_table_name %>,
                    class: "button button--secondary" %>
      </div>
    </article>
  <%% end %>
</div>
