<%% content_for :title, "Editing <%= singular_table_name.humanize.downcase %>" %>

<div class="page-header">
  <h1>Editing <%= singular_table_name.humanize.downcase %></h1>
</div>

<div class="b4um-grid">
  <section class="b4um-card b4um-card--full">
    <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

    <div class="b4um-card__actions">
      <%%= link_to "Show",
                  @<%= singular_table_name %>,
                  class: "button button--secondary" %>

      <%%= link_to "Back",
                  <%= plural_route_name %>_path,
                  class: "button button--secondary" %>
    </div>
  </section>
</div>
