<%% content_for :title, "<%= plural_table_name.humanize %>" %>

<div class="page-header">
  <h1><%= plural_table_name.humanize %></h1>

  <%%= link_to "New <%= singular_table_name.humanize.downcase %>",
              new_<%= singular_route_name %>_path,
              class: "button button--primary" %>
</div>

<%% if @<%= plural_table_name %>.any? %>
  <%%= render "<%= options[:layout] %>",
              <%= plural_table_name %>: @<%= plural_table_name %> %>
<%% else %>
  <section class="b4um-empty-state">
    <h2 class="b4um-empty-state__title">
      No <%= plural_table_name.humanize.downcase %> yet.
    </h2>

    <p class="b4um-empty-state__text">
      Create your first <%= singular_table_name.humanize.downcase %> to get started.
    </p>
  </section>
<%% end %>
